body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /*overflow: hidden;*/

}

.App {
  /*background: url(../public/christmas_girls_14.jpg);
  background-size: cover;
  width: 730px;
  height: 983px;*/

}

.container {

  height: 100vh;
  width: 100vw;
  background-image: url(../public/christmas_girls_14.jpg);
  display: block;
  justify-content: center;
  /*align-items: center;*/
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.timer {
  color: #fcfafa;

  /*top: 1%;
  left: 30%*/
}

h1 {
  margin: 0;
  /*width: 400px;*/
}

img {

  height: 100%;
  width: auto;
}

h4 {
  color: #fcfbfb;
  margin: 0;

  /*width: 320px;
  overflow: visible;*/
  /*position: absolute;
  top: 7%;
  left: 30%;
  width: 450px;*/
}