body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: url(../public/christmas_girls_14.jpg);
  display: block;
  justify-content: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.timer {
  color: #fcfafa;
}

h1 {
  margin: 0;
}

img {
  height: 100%;
  width: auto;
}

h4 {
  margin-top: 10px;
  font-size: 16px;
  color: #fcfbfb;
}


@media (min-width: 768px) {
  .container {
    background-size: contain;
  }

  h4 {
    margin-top: 20px;
    font-size: 24px;
  }
}